Change the "multiple HSTS headers" error into a warning?

[RFC6769, section 8.1](https://tools.ietf.org/html/rfc6797#section-8.1):

> If a UA receives more than one STS header field in an HTTP response message over secure transport, then the UA MUST process only the first such header field.

I think it's better to be strict here (even if the spec is clear, multiple headers can be confusing to debug), but a warning might be sufficient.